body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
}

.dropdown.btn-group {
    margin: 5px 5px;
}

input {
    margin: 5px 5px;
    outline: none;
}

.panel-body {
    display: flex;
    flex-direction: row;
}

.panel-info h4 a {
    color: white;
}

.search {
    width: 40%;
}

.tag {
    -webkit-box-shadow: none;
	-moz-box-shadow: none; 
    box-shadow: none;
    margin-right: 5px;
    color: black;
    background-color: #f5efb2;
}

.tag:hover {
    cursor: default;
    font-weight: normal;
    color: black;
    background-color: #f5efb2;
}

.show-image {
    margin-right: 5px;
}

.show-info {
    padding: 5px 10px;
    font-size: 1.2em;
}

.show-more {
    float: right;
}

.show-list {
    margin: 10px auto;
    max-width: 45%;
}

.show-list-info {
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .panel-body {
        flex-direction: column;
    }
    .show-image {
        margin: 10px auto;
    }
    .show-list {
        min-width: 80%;
    }
}


